<div class="container-fluid">
  <h1 class="text-xs-center"> About Steph Academy</h1>

  <div class="row">
    <div class="col-md-6" id="school-image"> <%= image_tag 'school.JPG', size: "2500x500", :class => 'img-fluid' %> </div>
    <div class="col-md-6" id="school-description">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel consectetur odio, a vestibulum augue. Cras sagittis mollis mauris et pharetra. Nunc vitae efficitur nulla, et posuere velit. Cras nec sapien sed leo aliquet gravida vel sollicitudin magna. Nullam egestas, metus sed posuere porta, orci augue mollis justo, ut efficitur justo augue quis risus. Donec et imperdiet arcu. Cras placerat mi eu accumsan tincidunt. Nunc id sagittis risus. Donec ultrices euismod elit a rhoncus. Quisque vulputate quam in luctus viverra. Suspendisse auctor tempus cursus. Donec mattis nisl id orci tincidunt hendrerit. Vivamus lobortis elit id eros vehicula viverra. Nunc lacinia maximus tincidunt. Aliquam mattis ultricies justo eu imperdiet. Aliquam sit amet elementum nulla.
    </br>
    </br>
      Nullam a nisl vitae augue pellentesque ultricies ut nec lorem. Vivamus laoreet a dui ut auctor. Proin vel maximus quam, a sagittis augue. Vivamus tincidunt, dolor eget dapibus luctus, urna ligula hendrerit est, non dapibus nisi ipsum nec diam. Proin libero eros, aliquet sit amet maximus non, pulvinar id nisi. Proin venenatis urna non elit rhoncus venenatis. Suspendisse odio enim, tincidunt sit amet metus at, porta ornare justo. Aliquam eleifend tempus augue. Donec aliquet, tortor ut bibendum maximus, ipsum ligula egestas quam, vel rhoncus sem nunc a leo. Quisque eget porta ex, non lacinia erat.
      </p>
    </div>
  </div>

  <hr>

  <h2 class="text-xs-center">Meet our Staff!</h2>

    <div class="col-xs-12">
      <div class="row">
        <h3>Scarlett Johansson</h3>
        <div class="col-xs-6" id="staff-img">
          <%= image_tag "scarlett.jpg", :class => 'img-fluid' %>
        </div>
        <div class="col-xs-6" id="staff-description">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <div class="row">
        <h3>Antonio Banderas</h3>
        <div class="col-xs-6" id="staff-img">
          <%= image_tag "antonio.jpg", :class => 'img-fluid' %>
        </div>
        <div class="col-xs-6" id="staff-description">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
    </div>
  </div>
