<div class="container-fluid">
  <h1 class="text-xs-center"> About Steph Academy</h1>

  <div class="row">
    <div class="col-md-6" id="school-image"> <%= image_tag 'school.jpg', size: "2500x500", :class => 'img-fluid' %> </div>
    <div class="col-md-6" id="school-description">
      <p>
      <strong>Sacred Heart Education Center</strong> focuses on integrative studies and holistic education for the local community. We have varying programs that will serve youth from infancy to adulthood. Our youth education programs are based on a holistic philosophy on education that encompasses the nurturance of the whole children and their development of a greater sense of self through their body, mind and heart.
      <br/>
      <br/>
      We strive to provide children with consistent emotional support, connection to the natural world, free-play, spiritual development, and connection to themselves and their passions. We also serve the adult population through parenting education and community workshops to encourage a healthy and proactive lifestyle.
      </p>
    </div>
  </div>

  <hr>

  <h2 class="text-xs-center">Meet our Staff!</h2>

    <div class="col-xs-12">
      <div class="row">
        <h3>Ani Zuniga</h3>
        <div class="col-xs-6" id="staff-description">
          <p>
            Ani Zuñiga received a Bachelor’s of Early Childhood Education at Naropa University, with minors in Permaculture and Social Innovation. She has worked in non-profit organizations , serving the low income population of Oakland, and the surrounding Bay Area for eight years. She has worked in after school programs and summer camps serving youth of elementary, middle and high school, and spent three years working in early childhood education centers.
          </p>
        </div>
        <div class="col-xs-6" id="staff-img">
          <%= image_tag "steph.jpg", :class => 'img-fluid' %>
        </div>
      </div>

      </div>
    </div>
  </div>
