<h1 class="text-xs-center"> Welcome to Sacred Heart Education Center</h1>
</br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="col-md-6">
      <%= image_tag 'toddler1.png', :class => "style_image"%>
      </div>
      <div class="col-md-6">
        <h2>Interested in enrolling your child?</h2>
        <p> hjglajfjdisacvndsjalnlfslajvnfjsannsjdnsals</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'toddler3.jpg', :class => "style_image"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'toddler2.jpg', :class => "style_image"%>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br/>
