@import "font-awesome";
@import "bootstrap";
@import "simple_calendar";


.row {
  padding: 50px;
}

#staff-img{
  height: 300px;
  width: 300px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -53px;
}

.navbar{
  background-image: url('lotusnav.jpg');
}

.nav-link{
  color: white;
}

.style_image{
  width: 1500px;
  max-height: 600px;
}

#school-description{
  background-color: rgba(255, 255, 255, 0.5);
}

#staff-description{
  background-color: rgba(255, 255, 255, 0.5);
}

#join-nav{
  background-color: rgba(255, 255, 255, 0.5);
}

#join-nav .nav-link{
  color: blue;
}

#footer{
  color: white;
  background-image: url('lotusnav.jpg');
}


/* User sign in and sign out forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.border-form-div-edit {
	max-width: 800px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #e5e5e5;
}
