@import "bootstrap";

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.style_image{
  width: 1500px;
  max-height: 600px;
}
